*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to top , #07173d ,#bb8e9c);
}
.cards{
  display: inline-block;
  width: 14%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 40px;
  height: 214px;


  border-radius: 45px 13px;



  margin-top: 39px;
  transition: 5s;
margin-right: 90px;
  box-shadow: 6px 13px 12px black;
}
.cards:hover{
background-color: rgb(153, 79, 116);
  transform: scale(1.3,1.3);
}


h1{
  font-style: italic;
  font-family: cursive;
  font-size: 34px;
}
p{
  margin-top: 27px;


  color: white;
font-size:25px;
font-style: italic;
}

p:hover{

  color: #000000;
}
.title{
text-align: center;
margin-top: 13px;

}

   button {
    font-style: italic;
    background: linear-gradient(to right , #0a0708 ,#f56b94);
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 38px;
    font-family: Raleway;
    cursor: pointer;
    margin-top: 595px;
    width: 100%;
    height: 65px;
    
  }

